@import 'variables';

* {
	font-family: 'Nunito', sans-serif;
  color: $dark-blue;
}

h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  color: $purple;
}

.item-cost {
  float: right;
  color: $orange;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-weight: 300;
}

.venue-address {
  font-size: 14px;
}

.text-center {
  text-align: center;
}
