@import 'variables';
@import 'type';
@import 'modal';


// ****** SECTIONS & LAYOUT ******
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.header {
	margin: 0;
	width: 100%;
	position: absolute;
	right: 0;
	height: 120px;
	padding: 10px;
	background: $light-blue;
}
.header-bottom {
	max-width: 300px;
	margin: 15px auto;
	display: flex;
	justify-content: space-between;
}
main {
	padding: 140px 20px 0px 20px;
}
// ****** SECTIONS & LAYOUT END ******






// ****** HEADER OBJECTS ******
.filter-form {
	max-width: 300px;
	margin: 0 auto;
}

.filter-list {
	display: inline;
	font-size: 1.3rem;
}

.sort-by {
	background-color: white;
}
// ****** HEADER OBJECTS END ******

// ****** BUTTONS ******
.btn {
	border-radius: 20px;
	border: none;
	color: white;
	font-size: 16px;
}

.btn-visit {
	background-color: $green;
	text-transform: uppercase;
	padding: 10px 18px;
	font-weight: 700;
	float: right;
	font-size: 14px;
}

.purple-btn {
	background-color: $purple;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 8px 15px;
}
// ****** BUTTONS END ******





.list-bottom {
	margin-top: 15px;
}
.list-bottom::after {
	content: "";
	clear: both;
	display: table;
}
.list-break {
	height: 6px;
	border: none;
	background: #6cabc4;
}

.venue-info {
	float: left;
}

.icon {
	width: 25px;
	height: 25px;
}

.icon-small {
	width: 15px;
	height: 15px;
	margin-right: 4px;
}