$dark-blue: #21237b;
$light-blue: #6cabc4;
$purple: #9c59a6;
$green: #1dbc97;

* {
	box-sizing: border-box;

}

h1, h2, h3, p, input {
	font-family: 'Nunito', sans-serif;
}

html,
body {
	// box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	// overflow: 
}


.header {
	margin: 0;
	width: 100%;
	position: absolute;
	right: 0;
	height: 120px;
	padding: 10px;
	background: $light-blue;
}

.header-top {
}

.header-bottom {
	max-width: 300px;
	margin: 15px auto;
	display: flex;
	justify-content: space-between;
}


.icon {
	width: 25px;
	height: 25px;
}

.filter-form {
	max-width: 300px;
	margin: 0 auto;
}

.filter-list {
	display: inline;
	font-size: 1.3rem;
}

.btn {
	border-radius: 20px;
	border: none;
	color: white;
}

.purple-btn {
	background-color: $purple;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 8px 15px;
}

.sort-by {
	background-color: white;
}

.test-box {
	width: 100%;
	height: 100px;
	background: red;
}

main {
	padding-top: 130px;
}